body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER*/






.clearfix{
    clear: both;
}

/*MAIN*/
/*index*/

.container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    
}

.griditem{
    height: 300px;
    width: 100%;
    object-fit:cover;
    margin-top: 10px;
    border-radius: 4px;
    filter: brightness(90%);
}

/*hover*/

.griditem:hover{ 
    filter:brightness(100%); 
}

@media all and (max-width: 1000px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 700px) {
    .container{
        grid-template-columns: 1fr;
    }
}

/*accesorios*/

.container_acc{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 15px;
}
.griditem2{
    height: 300px;
    width: 100%;
    object-fit:cover;
    margin-top: 10px;
    border-radius: 4px;
    transition:all 1s;
}

.griditem2:hover{
    transform:scale(1.10);
}

/*footer*/

footer{
    background-color: antiquewhite;
    height: 96px;
    font-size: 14px;
    padding: 10px;
    margin-top: 50px;

}

.footer_sitio{
    text-align: center;
    line-height: 90px;
}