footer{
    width: 100%;
    background-color: $color-blanco;
    height: 96px;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
        p{
            text-align: center;
            margin-top: 25px;
        }
}